# IDE
.vs/

*.userprefs

*.user

*.DS_Store

# Build output
*.exe
*.dll
*.pdb
**/[Bb]in
**/[Oo]bj

# Cache directories
*.cache


# Environment variables
*.binlog
MSBuild_Logs/

appsettings.*.json
**/appsettings.json

# Dependencies
*/node_modules/