# IDE
.vs/

*.userprefs

*.user

*.DS_Store

# Build output
*.exe
*.dll
*.pdb
**/[Bb]in
**/[Oo]bj
*/dist

# Cache directories
*.cache


# Environment variables
appsettings.*.json
**/appsettings.json
*/.env


*.binlog
MSBuild_Logs/

# Dependencies
*/node_modules/